<!-- INCLUDE overall_header.html -->

<h2>{L_TITLE}</h2>
<!-- IF S_TICKET_REPLY -->
	<p>{L_TITLE_EXPLAIN}</p>
<!-- ENDIF -->

<!-- IF TICKET_HIDDEN or TICKET_SECURITY -->
<div class="rules" align="center">
	<div class="inner"><span class="corners-top"><span></span></span>
		<!-- IF TICKET_HIDDEN -->{L_TRACKER_TICKET_HIDDEN_FROM_VIEW}<!-- ENDIF -->
		<!-- IF TICKET_HIDDEN and TICKET_SECURITY --><br /><!-- ENDIF -->
		<!-- IF TICKET_SECURITY -->{L_TRACKER_TICKET_SECURITY_FROM_VIEW}<!-- ENDIF -->
	<span class="corners-bottom"><span></span></span></div>
</div>
<br />
<!-- ENDIF -->

<div id="col1">
<!-- IF not S_TICKET_REPLY -->
	<h3 style="color: #D21A4E;<!-- IF TICKET_CLOSED --> text-decoration: line-through;<!-- ENDIF -->">{TICKET_TITLE}<span style="color: black;"> {TICKET_STATUS}</span></h3>
	<div class="post bg2">
		<div class="inner"><span class="corners-top"><span></span></span>
			<div class="postbody" style="width: auto; float: none; margin: 0; height: auto;">
					<!-- IF not S_IS_BOT -->
						<!-- IF S_CAN_DELETE or S_CAN_EDIT -->
						<ul class="profile-icons">
							<!-- IF S_CAN_EDIT --><li class="edit-icon"><a href="{U_EDIT}" title="{L_EDIT_POST}"><span>{L_EDIT_POST}</span></a></li><!-- ENDIF -->
							<!-- IF S_CAN_DELETE --><li class="delete-icon"><a href="{U_DELETE}" title="{L_DELETE_POST}"><span>{L_DELETE_POST}</span></a></li><!-- ENDIF -->
						</ul>
						<!-- ENDIF -->
					<!-- ENDIF -->
				<p class="author">&nbsp;</p>
				<div class="content">{TICKET_DESC}</div>
				<!-- IF S_TICKET_HAS_ATTACHMENTS -->
					<dl class="attachbox">
						<dt>{L_ATTACHMENTS}</dt>
						<!-- BEGIN attachment -->
							<dd>{attachment.DISPLAY_ATTACHMENT}</dd>
						<!-- END attachment -->
					</dl>
				<!-- ENDIF -->
				<!-- IF S_DISPLAY_NOTICE --><div class="rules">{L_DOWNLOAD_NOTICE}</div><!-- ENDIF -->
				<!-- IF EDITED_MESSAGE or EDIT_REASON -->
					<div class="notice">{EDITED_MESSAGE}
						<!-- IF EDIT_REASON --><br /><strong>{L_REASON}:</strong> <em>{EDIT_REASON}</em><!-- ENDIF -->
					</div>
				<!-- ENDIF -->
			</div>
		<span class="corners-bottom"><span></span></span></div>
	</div>

	<!-- IF S_DISPLAY_COMMENTS -->
	<h3>{L_TRACKER_TICKET_COMMENTS}</h3>
		<!-- BEGIN comments -->
		<div id="p{comments.POST_ID}" class="post <!-- IF comments.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
			<div class="inner"><span class="corners-top"><span></span></span>
				<div class="postbody" style="width: auto; float: none; margin: 0; height: auto;">
					<!-- IF not S_IS_BOT -->
						<!-- IF comments.S_CAN_DELETE or comments.S_CAN_EDIT -->
						<ul class="profile-icons">
							<!-- IF comments.S_CAN_EDIT --><li class="edit-icon"><a href="{comments.U_EDIT}" title="{L_EDIT_POST}"><span>{L_EDIT_POST}</span></a></li><!-- ENDIF -->
							<!-- IF comments.S_CAN_DELETE --><li class="delete-icon"><a href="{comments.U_DELETE}" title="{L_DELETE_POST}"><span>{L_DELETE_POST}</span></a></li><!-- ENDIF -->
						</ul>
						<!-- ENDIF -->
					<!-- ENDIF -->
					<p class="author"><a href="#p{comments.POST_ID}">{POST_IMG}</a> <strong>{comments.COMMENT_POSTER}</strong></p>
					<div class="content">{comments.COMMENT_DESC}</div>
					<!-- IF comments.S_HAS_ATTACHMENTS -->
						<dl class="attachbox">
							<dt>{L_ATTACHMENTS}</dt>
							<!-- BEGIN attachment -->
								<dd>{comments.attachment.DISPLAY_ATTACHMENT}</dd>
							<!-- END attachment -->
						</dl>
					<!-- ENDIF -->
					<!-- IF comments.S_DISPLAY_NOTICE --><div class="rules">{L_DOWNLOAD_NOTICE}</div><!-- ENDIF -->
					<!-- IF comments.EDITED_MESSAGE or comments.EDIT_REASON -->
						<div class="notice">{comments.EDITED_MESSAGE}
							<!-- IF comments.EDIT_REASON --><br /><strong>{L_REASON}:</strong> <em>{comments.EDIT_REASON}</em><!-- ENDIF -->
						</div>
					<!-- ENDIF -->
				</div>
			<span class="corners-bottom"><span></span></span></div>
		</div>
		<!-- BEGINELSE -->
			<div class="post bg1">
			<div class="inner"><span class="corners-top"><span></span></span>
				{L_TRACKER_TICKET_NO_COMMENTS}
			<span class="corners-bottom"><span></span></span></div>
		</div>
		<!-- END -->
	<!-- ENDIF -->

	<!-- IF S_DISPLAY_HISTORY -->
	<h3>{L_TRACKER_TICKET_HISTORY}</h3>
		<!-- BEGIN history -->
		<div class="post <!-- IF history.S_ROW_COUNT is odd --> bg1<!-- ELSE --> bg2<!-- ENDIF -->">
			<div class="inner"><span class="corners-top"><span></span></span>
					<strong>{history.HISTORY_ACTION}</strong>
					<div style="margin-top: 10px; padding-top: 2px; border-top: 1px dashed #CCCCCC;">{history.HISTORY_ACTION_BY}</div>
			<span class="corners-bottom"><span></span></span></div>
		</div>
		<!-- BEGINELSE -->
			<div class="post bg1">
			<div class="inner"><span class="corners-top"><span></span></span>
				{L_TRACKER_TICKET_NO_HISTORY}
			<span class="corners-bottom"><span></span></span></div>
		</div>
		<!-- END -->
	<!-- ENDIF -->

	<!-- IF S_CAN_POST_TRACKER or PAGINATION or TOTAL_POSTS -->
	<div class="topic-actions">
		<!-- IF S_CAN_POST_TRACKER and not S_IS_BOT -->
		<div class="buttons">
			<div class="<!-- IF S_IS_LOCKED -->locked-icon<!-- ELSE -->reply-icon<!-- ENDIF -->"><a href="{U_POST_REPLY_TICKET}" title="<!-- IF S_IS_LOCKED -->{L_TOPIC_LOCKED}<!-- ELSE -->{L_POST_REPLY}<!-- ENDIF -->"><span></span><!-- IF S_IS_LOCKED -->{L_TOPIC_LOCKED_SHORT}<!-- ELSE -->{L_POST_REPLY}<!-- ENDIF --></a></div>
		</div>
		<!-- ENDIF -->
		<!-- IF PAGINATION or TOTAL_POSTS -->
		<div class="pagination">
			{TOTAL_POSTS}
			<!-- IF PAGE_NUMBER --><!-- IF PAGINATION --> &bull; <a href="#" onclick="jumpto(); return false;" title="{L_JUMP_TO_PAGE}">{PAGE_NUMBER}</a> &bull; <span>{PAGINATION}</span><!-- ELSE --> &bull; {PAGE_NUMBER}<!-- ENDIF --><!-- ENDIF -->
		</div>
		<!-- ENDIF -->
	</div>
	<!-- ENDIF -->
<!-- ELSE -->
	<!-- IF S_PREVIEW -->
	<h3>{L_TRACKER_PREVIEW}</h3>
	<div class="panel bg2">
		<div class="inner"><span class="corners-top"><span></span></span>
			<div class="postbody" style="width: auto; float: none; margin: 0; height: auto;">
				<div class="content">{REPLY_PREVIEW}</div>
				<!-- IF .attachment -->
				<dl class="attachbox">
					<dt>{L_ATTACHMENTS}</dt>
					<!-- BEGIN attachment -->
					<dd>{attachment.DISPLAY_ATTACHMENT}</dd>
					<!-- END attachment -->
				</dl>
				<!-- ENDIF -->
			</div>
		<span class="corners-bottom"><span></span></span></div>
	</div>
	<br />
	<!-- ENDIF -->
	<form id="postform" action="{U_ACTION}" method="post"{S_FORM_ENCTYPE}>
		<div class="panel bg2">
			<span class="corners-top"><span></span></span>
			<h3>{L_MESSAGE}</h3>
			<fieldset class="fields1">
			<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->
				<!-- IF S_DISPLAY_USERNAME -->
				<dl style="clear: left;">
					<dt><label for="username">{L_USERNAME}:</label></dt>
					<dd><input type="text" tabindex="1" name="username" id="username" size="25" value="{USERNAME}" class="inputbox autowidth" /></dd>
				</dl>
				<!-- ENDIF -->
				<!-- IF S_EDIT_REASON -->
				<dl>
					<dt><label for="edit_reason">{L_TRACKER_EDIT_REASON}:</label><br /><span>{L_TRACKER_EDIT_REASON_EXPLAIN}</span></dt>
					<dd><input type="text" id="edit_reason" name="edit_reason" value="{EDIT_REASON_TEXT}" class="inputbox medium" /></dd>
				</dl>
				<!-- ENDIF -->
				<!-- INCLUDE posting_buttons.html -->
				<div id="smiley-box">
					<!-- IF S_SMILIES_ALLOWED and .smiley -->
						<strong>{L_SMILIES}</strong><br />
						<!-- BEGIN smiley -->
							<a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" /></a>
						<!-- END smiley -->
					<!-- ENDIF -->
					<!-- IF S_SHOW_SMILEY_LINK and S_SMILIES_ALLOWED-->
						<br /><a href="{U_MORE_SMILIES}" onclick="popup(this.href, 300, 350, '_phpbbsmilies'); return false;">{L_MORE_SMILIES}</a>
					<!-- ENDIF -->
				</div>

				<div id="message-box">
					<textarea name="message" id="message" rows="15" cols="76" tabindex="4" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();" class="inputbox">{REPLY_DESC}</textarea>
				</div>

			</fieldset>
			<span class="corners-bottom"><span></span></span>
		</div>

		<!-- IF S_CAN_ATTACH --><!-- INCLUDE posting_attach_body.html --><!-- ENDIF -->

		<!-- IF S_HAS_ATTACHMENTS -->
			<div class="panel bg2">
				<div class="inner"><span class="corners-top"><span></span></span>
				<h3>{L_POSTED_ATTACHMENTS}</h3>

				<fieldset class="fields2">

				<!-- BEGIN attach_row -->
				<dl>

					<dt><label for="comment_list[{attach_row.ASSOC_INDEX}]">{L_FILE_COMMENT}:</label></dt>
					<dd><textarea name="comment_list[{attach_row.ASSOC_INDEX}]" id="comment_list[{attach_row.ASSOC_INDEX}]" rows="1" cols="35" class="inputbox">{attach_row.FILE_COMMENT}</textarea></dd>
					<dd><a href="{attach_row.U_VIEW_ATTACHMENT}" class="{S_CONTENT_FLOW_END}">{attach_row.FILENAME}</a></dd>
					<dd style="margin-top: 5px;">
						<!-- IF S_INLINE_ATTACHMENT_OPTIONS --><input type="button" value="{L_PLACE_INLINE}" onclick="attach_inline({attach_row.ASSOC_INDEX}, '{attach_row.A_FILENAME}');" class="button2" />&nbsp; <!-- ENDIF -->
						<input type="submit" name="delete_file[{attach_row.ASSOC_INDEX}]" value="{L_DELETE_FILE}" class="button2" />
					</dd>
				</dl>
				{attach_row.S_HIDDEN}
					<!-- IF not attach_row.S_LAST_ROW --><hr class="dashed" /><!-- ENDIF -->
				<!-- END attach_row -->

				</fieldset>

				<span class="corners-bottom"><span></span></span></div>
			</div>
		<!-- ENDIF -->

		<!-- IF S_MANAGE_TICKET -->
		<div class="panel bg2">
			<div class="inner"><span class="corners-top"><span></span></span>
			<h3>{L_OPTIONS}</h3>
			<fieldset class="fields2">
			<!-- IF S_MANAGE_TICKET and S_ASSIGN_USER_OPTIONS -->
				<dl>
					<dt><label for="au"><strong>{L_TRACKER_ASSIGN_USER}:</strong></label></dt>
					<dd><select id="au" name="au">{S_ASSIGN_USER_OPTIONS}</select></dd>
				</dl>
				<!-- ENDIF -->
				<!-- IF S_MANAGE_TICKET and S_STATUS_OPTIONS -->
				<dl>
					<dt><label for="cs"><strong>{L_TRACKER_CHANGE_STATUS}:</strong></label></dt>
					<dd><select id="cs" name="cs">{S_STATUS_OPTIONS}</select></dd>
				</dl>
				<!-- ENDIF -->
				<!-- IF S_MANAGE_TICKET and S_PRIORITY_OPTIONS -->
				<dl>
					<dt><label for="pr"><strong>{L_TRACKER_CHANGE_PRIORITY}:</strong></label></dt>
					<dd><select id="pr" name="pr">{S_PRIORITY_OPTIONS}</select></dd>
				</dl>
				<!-- ENDIF -->
				<!-- IF S_MANAGE_TICKET and S_SEVERITY_OPTIONS -->
				<dl>
					<dt><label for="s"><strong>{L_TRACKER_CHANGE_SEVERITY}:</strong></label></dt>
					<dd><select id="s" name="s">{S_SEVERITY_OPTIONS}</select></dd>
				</dl>
				<!-- ENDIF -->
				<!-- IF S_TICKET_SECURITY -->
				<dl>
					<dt><label for="ticket_security">{L_TRACKER_SECURITY_TICKET}:</label></dt>
					<dd><input type="checkbox" name="ticket_security" id="ticket_security" value="1"<!-- IF TICKET_SECURITY --> checked="checked"<!-- ENDIF --> /></dd>
				</dl>
				<!-- ENDIF -->
				<dl>
					<dt><label for="ticket_hidden">{L_TRACKER_HIDE_TICKET}:</label></dt>
					<dd><input type="checkbox" name="ticket_hidden" id="ticket_hidden" value="1"<!-- IF TICKET_HIDDEN --> checked="checked"<!-- ENDIF --> /></dd>
				</dl>
				<dl>
					<dt><label for="ticket_status">{L_TRACKER_LOCK_TICKET}:</label></dt>
					<dd><input type="checkbox" name="ticket_status" id="ticket_status" value="1"<!-- IF S_IS_LOCKED --> checked="checked"<!-- ENDIF --> /></dd>
				</dl>
			</fieldset>
			<span class="corners-bottom"><span></span></span></div>
		</div>
		<!-- ENDIF -->

		<div class="panel bg2">
			<span class="corners-top"><span></span></span>
			<fieldset>
				<p>{TRACKER_REPLY_DETAIL}</p>
				<!-- IF CAPTCHA_TEMPLATE and S_CONFIRM_CODE -->
					<!-- DEFINE $CAPTCHA_TAB_INDEX = 3 -->
					<!-- INCLUDE {CAPTCHA_TEMPLATE} -->
				<!-- ENDIF -->
				<input type="submit" name="preview" value="{L_TRACKER_PREVIEW_REPLY}" class="button2" /> <input type="submit" name="submit" value="{L_TRACKER_SUBMIT_REPLY}" class="button1" />
				{S_HIDDEN_FIELDS_CONFIRM}
				{S_FORM_TOKEN}
			</fieldset>
			<span class="corners-bottom"><span></span></span>
		</div>
	</form>

	<!-- IF S_DISPLAY_REVIEW -->
	<h3>{L_TRACKER_PREVIOUS_POSTS}</h3>
		<div id="topicreview">
			<div class="post bg2">
				<div class="inner"><span class="corners-top"><span></span></span>
				<!-- BEGIN review -->
				<div class="postbody">
					<p class="author<!-- IF review.S_LAST_ROW --> current<!-- ENDIF -->">{POST_IMG} <strong>{review.POST_USER}</strong></p>
					<div class="content<!-- IF review.S_LAST_ROW --> current<!-- ENDIF -->">{review.POST_TEXT}</div>
				</div>
				<!-- IF not review.S_LAST_ROW --><hr /><!-- ENDIF -->
				<!-- END -->
				<span class="corners-bottom"><span></span></span></div>
			</div>
		</div>
	<!-- ENDIF -->
<!-- ENDIF -->
</div>
<div id="col2">
	<div class="post bg2">
		<div class="inner"><span class="corners-top"><span></span></span>
		<h3 style="border-bottom: none; margin-top: 5px;">{L_TRACKER_TICKET_DETAILS}</h3>
			<ul class="menu">
				<li><strong>{L_TRACKER_TICKET_ID}:</strong> {TICKET_ID}</li>
				<li><strong>{L_TRACKER_PROJECT_NAME}:</strong> {PROJECT_NAME}</li>
				<li><strong>{L_TRACKER_STATUS}:</strong> {TICKET_STATUS_DETAILS}</li>
				<!-- IF S_TICKET_COMPONENT --><li><strong>{L_TRACKER_COMPONENT}:</strong> {TICKET_COMPONENT}</li><!-- ENDIF -->
				<!-- IF S_TICKET_VERSION --><li><strong>{L_TRACKER_DETAILS_VERSION}:</strong> {TICKET_VERSION}</li><!-- ENDIF -->
				<!-- IF S_TICKET_PRIORITY --><li><strong>{L_TRACKER_PRIORITY}:</strong> {TICKET_PRIORITY}</li><!-- ENDIF -->
				<!-- IF S_TICKET_SEVERITY --><li><strong>{L_TRACKER_SEVERITY}:</strong> {TICKET_SEVERITY}</li><!-- ENDIF -->
				<!-- IF S_TICKET_ENVIRONMENT -->
					<!-- IF S_SHOW_PHP --><li><strong>{L_TRACKER_TICKET_PHP_DETAIL}:</strong> {TICKET_PHP}</li><!-- ENDIF -->
					<!-- IF S_SHOW_DBMS --><li><strong>{L_TRACKER_TICKET_DBMS_DETAIL}:</strong> {TICKET_DBMS}</li><!-- ENDIF -->
				<!-- ENDIF -->
				<li><strong>{L_TRACKER_ASSIGNED_TO}:</strong> {TICKET_ASSIGNED_TO}</li>
				<li><strong>{L_TRACKER_REPORTED_BY}:</strong> {TICKET_REPORTED_BY} <!-- IF S_SEND_PM -->(<a href="{U_SEND_PM}">{L_TRACKER_SEND_PM}</a>)<!-- ENDIF --></li>
				<li><strong>{L_TRACKER_REPORTERS_TICKETS}:</strong> <a href="{U_REPORTERS_TICKETS}">{L_TRACKER_LIST_ALL_TICKETS}</a></li>
				<li<!-- IF not TICKET_LAST_VISIT --> class="last"<!-- ENDIF -->><strong>{L_TRACKER_REPORTED_ON}:</strong> {TICKET_TIME}</li>
				<!-- IF TICKET_LAST_VISIT --><li class="last">{TICKET_LAST_VISIT}</li><!-- ENDIF -->
			</ul>
		<span class="corners-bottom"><span></span></span></div>
	</div>

	<!-- IF S_MANAGE_TICKET --><form id="assign_user_form" action="{U_UPDATE_ACTION}" method="post"><!-- ENDIF -->
	<div class="post bg2">
		<div class="inner"><span class="corners-top"><span></span></span>
		<h3 style="border-bottom: none; margin-top: 5px;">{L_OPTIONS}</h3>
		<ul class="menu">
				<li<!-- IF not S_MANAGE_TICKET or S_TICKET_REPLY and (not S_USER_LOGGED_IN and S_IS_BOT) --> class="last"<!-- ENDIF -->><a href="{U_VIEW_TICKET_HISTORY}">{L_TICKET_HISTORY}</a></li>
				<!-- IF S_USER_LOGGED_IN and not S_IS_BOT -->
					<li<!-- IF not S_MANAGE_TICKET or S_TICKET_REPLY --> class="last"<!-- ENDIF -->><a href="{U_WATCH_TICKET}">{L_WATCH_TICKET}</a></li>
				<!-- ENDIF -->
				<!-- IF not S_TICKET_REPLY -->
					<!-- IF S_MANAGE_TICKET and S_ASSIGN_USER_OPTIONS --><li><label for="au"><strong>{L_TRACKER_ASSIGN_USER}:</strong></label><select id="au" name="au" style="width: 150px;">{S_ASSIGN_USER_OPTIONS}</select></li><!-- ENDIF -->
					<!-- IF S_MANAGE_TICKET and S_STATUS_OPTIONS --><li><label for="cs"><strong>{L_TRACKER_CHANGE_STATUS}:</strong></label><select id="cs" name="cs" style="width: 125px;">{S_STATUS_OPTIONS}</select></li><!-- ENDIF -->
					<!-- IF S_MANAGE_TICKET and S_PRIORITY_OPTIONS --><li><label for="pr"><strong>{L_TRACKER_CHANGE_PRIORITY}:</strong></label><select id="pr" name="pr" style="width: 125px;">{S_PRIORITY_OPTIONS}</select></li><!-- ENDIF -->
					<!-- IF S_MANAGE_TICKET and S_SEVERITY_OPTIONS --><li><label for="s"><strong>{L_TRACKER_CHANGE_SEVERITY}:</strong></label><select id="s" name="s" style="width: 125px;">{S_SEVERITY_OPTIONS}</select></li><!-- ENDIF -->
					<!-- IF S_MANAGE_TICKET --><li class="last"><input type="submit" name="update" value="{L_SUBMIT}" class="button2" /></li><!-- ENDIF -->
				<!-- ENDIF -->
			</ul>
		<span class="corners-bottom"><span></span></span></div>
		<!-- IF S_MANAGE_TICKET -->{S_FORM_TOKEN}<!-- ENDIF -->
	</div>
	<!-- IF S_MANAGE_TICKET --></form><!-- ENDIF -->
</div>
<div class="cleaner">&nbsp;</div>
<!-- IF S_MANAGE_TICKET_MOD and not S_TICKET_REPLY -->
	<br />
	<form method="post" action="{S_MOD_ACTION}">
	<fieldset class="quickmod">
		<label>{L_QUICK_MOD}: {S_TICKET_MOD}</label> <input name="submit_mod" type="submit" value="{L_GO}" class="button2" />
		{S_FORM_TOKEN}
	</fieldset>
	</form>
	<div class="cleaner">&nbsp;</div>
<!-- ENDIF -->

<!-- INCLUDE tracker/tracker_footer.html -->

<!-- INCLUDE overall_footer.html -->