<!-- INCLUDE overall_header.html -->
<h2>{L_TITLE}</h2>
<p>{L_TITLE_EXPLAIN}</p>

<!-- IF S_PREVIEW -->
<h3>{L_TRACKER_PREVIEW}</h3>
<div class="panel bg2">
	<div class="inner"><span class="corners-top"><span></span></span>
		<div class="postbody" style="width: auto; float: none; margin: 0; height: auto;">
			<div class="content">{TICKET_PREVIEW}</div>
			<!-- IF .attachment -->
			<dl class="attachbox">
				<dt>{L_ATTACHMENTS}</dt>
				<!-- BEGIN attachment -->
				<dd>{attachment.DISPLAY_ATTACHMENT}</dd>
				<!-- END attachment -->
			</dl>
			<!-- ENDIF -->
		</div>
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->
<h3>{L_TRACKER_SUBMIT_A_TICKET}</h3>
<form id="postform" method="post" action="{U_ACTION}"{S_FORM_ENCTYPE}>
	<div class="panel bg2">
		<div class="inner"><span class="corners-top"><span></span></span>
		<fieldset>
			<h3>{L_TRACKER_PROJECT_INFO}</h3>
			<!-- IF ERROR --><p class="error">{ERROR}</p><!-- ENDIF -->
			<dl>
				<dt><strong>{L_TRACKER}:</strong></dt>
				<dd>{PROJECT_TYPE}</dd>
			</dl>
			<dl>
				<dt><strong>{L_TRACKER_PROJECT_NAME}:</strong></dt>
				<dd>{PROJECT_NAME}</dd>
			</dl>
			<!-- IF S_COMPONENT_OPTIONS and S_TICKET_COMPONENT -->
			<dl>
				<dt><label for="component_id">{L_TRACKER_COMPONENT}:</label></dt>
				<dd>
					<select id="component_id" name="component_id">
						{S_COMPONENT_OPTIONS}
					</select>
				</dd>
			</dl>
			<!-- ENDIF -->
			<!-- IF S_VERSION_OPTIONS and S_TICKET_VERSION -->
			<dl>
				<dt><label for="version_id">{L_TRACKER_VERSION}:</label></dt>
				<dd>
					<select id="version_id" name="version_id">
						{S_VERSION_OPTIONS}
					</select>
				</dd>
			</dl>
			<!-- ENDIF -->
		</fieldset>
		<span class="corners-bottom"><span></span></span></div>
	</div>

	<!-- IF S_TICKET_ENVIRONMENT and (S_SHOW_PHP or S_SHOW_DBMS) -->
	<div class="panel bg2">
		<div class="inner"><span class="corners-top"><span></span></span>
		<fieldset>
			<h3>{L_TRACKER_ENVIRONMENT}</h3>
			<p>{L_TRACKER_ENVIRONMENT_EXPLAIN}</p>
			<!-- IF S_SHOW_PHP -->
			<dl>
				<dt><label for="ticket_php">{L_TRACKER_TICKET_PHP}:</label><br /><span>{L_TRACKER_TICKET_PHP_EXPLAIN}</span></dt>
				<dd><input type="text" id="ticket_php" name="ticket_php" value="{TICKET_PHP}" class="inputbox narrow" /><br /><span class="small">{L_TRACKER_TICKET_PHP_EXPLAIN_BAD}<br />{L_TRACKER_TICKET_PHP_EXPLAIN_GOOD}</span></dd>
			</dl>
			<!-- ENDIF -->
			<!-- IF S_SHOW_DBMS -->
			<dl>
				<dt><label for="ticket_dbms">{L_TRACKER_TICKET_DBMS}:</label><br /><span>{L_TRACKER_TICKET_DBMS_EXPLAIN}</span></dt>
				<dd><input type="text" id="ticket_dbms" name="ticket_dbms" value="{TICKET_DBMS}" class="inputbox narrow" /><br /><span class="small">{L_TRACKER_TICKET_DBMS_EXPLAIN_BAD}<br />{L_TRACKER_TICKET_DBMS_EXPLAIN_GOOD}</span></dd>
			</dl>
			<!-- ENDIF -->
		</fieldset>
		<span class="corners-bottom"><span></span></span></div>
	</div>
	<!-- ENDIF -->
	<div class="panel bg2">
		<div class="inner"><span class="corners-top"><span></span></span>
		<fieldset>
			<h3>{L_TRACKER_TICKET}</h3>
			<!-- IF S_DISPLAY_USERNAME -->
			<dl style="clear: left;">
				<dt><label for="username">{L_USERNAME}:</label></dt>
				<dd><input type="text" tabindex="1" name="username" id="username" size="25" value="{USERNAME}" class="inputbox autowidth" /></dd>
			</dl>
			<!-- ENDIF -->
			<!-- IF S_EDIT_REASON -->
			<dl>
				<dt><label for="edit_reason">{L_TRACKER_EDIT_REASON}:</label><br /><span>{L_TRACKER_EDIT_REASON_EXPLAIN}</span></dt>
				<dd><input type="text" id="edit_reason" name="edit_reason" value="{EDIT_REASON_TEXT}" class="inputbox medium" /></dd>
			</dl>
			<!-- ENDIF -->
			<dl>
				<dt><label for="ticket_title">{L_TRACKER_TICKET_TITLE}:</label><br /><span>{L_TRACKER_TICKET_TITLE_EXPLAIN}</span></dt>
				<dd><input type="text" id="ticket_title" name="ticket_title" value="{TICKET_TITLE}" class="inputbox medium" /><br /><span class="small">{L_TRACKER_TICKET_TITLE_EXPLAIN_BAD}<br />{L_TRACKER_TICKET_TITLE_EXPLAIN_GOOD}</span></dd>
			</dl>
			<dl>
				<dt><label for="message">{L_TRACKER_TICKET_DESC}:</label><br /><span>{L_TRACKER_TICKET_DESC_EXPLAIN}</span></dt>
			</dl>
			<!-- INCLUDE posting_buttons.html -->
			<div id="smiley-box">
				<!-- IF S_SMILIES_ALLOWED and .smiley -->
					<strong>{L_SMILIES}</strong><br />
					<!-- BEGIN smiley -->
						<a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" /></a>
					<!-- END smiley -->
				<!-- ENDIF -->
				<!-- IF S_SHOW_SMILEY_LINK and S_SMILIES_ALLOWED-->
					<br /><a href="{U_MORE_SMILIES}" onclick="popup(this.href, 300, 350, '_phpbbsmilies'); return false;">{L_MORE_SMILIES}</a>
				<!-- ENDIF -->
			</div>

			<div id="message-box">
				<textarea name="message" id="message" rows="15" cols="76" tabindex="4" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();" class="inputbox">{TICKET_DESC}</textarea>
			</div>
		</fieldset>
		<span class="corners-bottom"><span></span></span></div>
	</div>

	<!-- IF S_MANAGE_TICKET or S_TICKET_SECURITY -->
		<div class="panel bg2">
			<div class="inner"><span class="corners-top"><span></span></span>
			<h3>{L_OPTIONS}</h3>
			<fieldset class="fields2">
				<!-- IF S_TICKET_SECURITY -->
				<dl>
					<dt><label for="ticket_security">{L_TRACKER_SECURITY_TICKET}:</label></dt>
					<dd><input type="checkbox" name="ticket_security" id="ticket_security" value="1"<!-- IF TICKET_SECURITY --> checked="checked"<!-- ENDIF --> /></dd>
				</dl>
				<!-- ENDIF -->
				<!-- IF S_MANAGE_TICKET -->
				<dl>
					<dt><label for="ticket_hidden">{L_TRACKER_HIDE_TICKET}:</label></dt>
					<dd><input type="checkbox" name="ticket_hidden" id="ticket_hidden" value="1"<!-- IF TICKET_HIDDEN --> checked="checked"<!-- ENDIF --> /></dd>
				</dl>
				<dl>
					<dt><label for="ticket_status">{L_TRACKER_LOCK_TICKET}:</label></dt>
					<dd><input type="checkbox" name="ticket_status" id="ticket_status" value="1"<!-- IF S_IS_LOCKED --> checked="checked"<!-- ENDIF --> /></dd>
				</dl>
				<!-- ENDIF -->
			</fieldset>
			<span class="corners-bottom"><span></span></span></div>
		</div>
		<!-- ENDIF -->

	<!-- IF S_CAN_ATTACH --><!-- INCLUDE posting_attach_body.html --><!-- ENDIF -->

	<!-- IF S_HAS_ATTACHMENTS -->
		<div class="panel bg2">
			<div class="inner"><span class="corners-top"><span></span></span>
			<h3>{L_POSTED_ATTACHMENTS}</h3>

			<fieldset class="fields2">

			<!-- BEGIN attach_row -->
			<dl>

				<dt><label for="comment_list[{attach_row.ASSOC_INDEX}]">{L_FILE_COMMENT}:</label></dt>
				<dd><textarea name="comment_list[{attach_row.ASSOC_INDEX}]" id="comment_list[{attach_row.ASSOC_INDEX}]" rows="1" cols="35" class="inputbox">{attach_row.FILE_COMMENT}</textarea></dd>
				<dd><a href="{attach_row.U_VIEW_ATTACHMENT}" class="{S_CONTENT_FLOW_END}">{attach_row.FILENAME}</a></dd>
				<dd style="margin-top: 5px;">
					<!-- IF S_INLINE_ATTACHMENT_OPTIONS --><input type="button" value="{L_PLACE_INLINE}" onclick="attach_inline({attach_row.ASSOC_INDEX}, '{attach_row.A_FILENAME}');" class="button2" />&nbsp; <!-- ENDIF -->
					<input type="submit" name="delete_file[{attach_row.ASSOC_INDEX}]" value="{L_DELETE_FILE}" class="button2" />
				</dd>
			</dl>
			{attach_row.S_HIDDEN}
				<!-- IF not attach_row.S_LAST_ROW --><hr class="dashed" /><!-- ENDIF -->
			<!-- END attach_row -->

			</fieldset>

			<span class="corners-bottom"><span></span></span></div>
		</div>
	<!-- ENDIF -->

	<div class="panel bg2">
		<div class="inner"><span class="corners-top"><span></span></span>
		<fieldset>
			<h3>{L_TRACKER_SUBMIT_TICKET}</h3>
			<p>{L_TRACKER_SUBMIT_TICKET_EXPLAIN}</p>
			<!-- IF CAPTCHA_TEMPLATE and S_CONFIRM_CODE -->
				<!-- DEFINE $CAPTCHA_TAB_INDEX = 3 -->
				<!-- INCLUDE {CAPTCHA_TEMPLATE} -->
			<!-- ENDIF -->
			<input type="submit" name="preview" value="{L_TRACKER_PREVIEW_TICKET}" class="button2" /> <input type="submit" name="submit" value="{L_TRACKER_SUBMIT_TICKET}" class="button1" accesskey="s" />
			{S_HIDDEN_FIELDS_CONFIRM}
			{S_FORM_TOKEN}
		</fieldset>
		<span class="corners-bottom"><span></span></span></div>
	</div>
</form>

<!-- INCLUDE tracker/tracker_footer.html -->

<!-- INCLUDE overall_footer.html -->