<!-- INCLUDE overall_header.html -->
<!-- IF S_IN_PROJECT_STATS -->
<h2>{L_TITLE}</h2>
<div class="forabg">
	<div class="inner"><span class="corners-top"><span></span></span>
		<table class="table1" cellspacing="0">
		<thead>
			<tr>
				<th style="text-align: left;">{L_TRACKER_STATUS_NAME}</th>
				<th style="text-align: left;">{L_TRACKER_TOTAL_TICKETS}</th>
				<th style="text-align: left;">{L_TRACKER_IS_CLOSED_STATUS}</th>
			</tr>
		</thead>
		<tbody>
			<!-- BEGIN status -->
			<!-- IF status.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
					<td>{status.STATUS_NAME}</td>
					<td>{status.STATUS_TOTAL}</td>
					<td>{status.STATUS_CLOSED}</td>
				</tr>
			<!-- BEGINELSE -->
			<tr style="height: 50px">
				<td class="bg1" colspan="2" align="center">
					<strong>{L_TRACKER_NO_PROJECT_EXIST}</strong>
				</td>
			</tr>
			<!-- END status -->
		</tbody>
	</table>
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ELSE -->
<h2>{L_TRACKER}</h2>
<p>{L_TRACKER_PROJECTS}</p>		
<div class="forabg">
	<div class="inner"><span class="corners-top"><span></span></span>
		<table class="table1" cellspacing="0">
		<thead>
			<tr>
				<th style="text-align: left;">{L_TRACKER_PROJECT_NAME_TITLE}</th>
				<th style="text-align: left;">{L_TRACKER_DESCRIPTION}</th>
				<th style="text-align: left;">{L_TRACKER_TYPE}</th>
				<th style="text-align: left;">{L_TRACKER_TOTAL_TICKETS}</th>
			</tr>
		</thead>
		<tbody>
			<!-- BEGIN project -->
			<!-- IF project.S_ROW_COUNT is even --><tr class="bg1"><!-- ELSE --><tr class="bg2"><!-- ENDIF -->
					<td><a href="{project.U_PROJECT}">{project.PROJECT_NAME}</a></td>
					<td>{project.PROJECT_DESC}</td>
					<td>{project.PROJECT_TYPE}</td>
					<td>{project.TOTAL_TICKETS}</td>
				</tr>
			<!-- BEGINELSE -->
			<tr style="height: 50px">
				<td class="bg1" colspan="2" align="center">
					<strong>{L_TRACKER_NO_PROJECT_EXIST}</strong>
				</td>
			</tr>
			<!-- END project -->
		</tbody>
	</table>
	<span class="corners-bottom"><span></span></span></div>
</div>
<!-- ENDIF -->
<!-- INCLUDE overall_footer.html -->