<!-- INCLUDE overall_header.html -->
<h2>{L_TITLE}</h2>

<table class="tablebg" width="100%" cellspacing="1" cellpadding="0" style="margin-top: 5px;">
<tr>
	<td class="row1">
		{L_TITLE_EXPLAIN}
	</td>
</tr>
</table>
<br />
<!-- IF S_PREVIEW -->
<h3>{L_TRACKER_PREVIEW}</h3>
<table class="tablebg" width="100%" cellspacing="1" cellpadding="0" style="margin-top: 5px;">
<tr>
	<td class="row1">
		<div class="postbody">{TICKET_PREVIEW}</div>
		<!-- IF .attachment -->
			<br clear="all" /><br />

			<table class="tablebg" width="100%" cellspacing="1">
			<tr>
				<td class="row3"><strong class="genmed">{L_ATTACHMENTS}: </strong></td>
			</tr>
			<!-- BEGIN attachment -->
				<tr>
					<td class="row2">{attachment.DISPLAY_ATTACHMENT}</td>
				</tr>
			<!-- END attachment -->
			</table>
		<!-- ENDIF -->
	</td>
</tr>
</table>
<br />
<!-- ENDIF -->

<form id="postform" action="{U_ACTION}" method="post"{S_FORM_ENCTYPE}>
<table class="tablebg" width="100%" cellspacing="1">
<tr>
	<td colspan="2" class="cat"><strong class="genmed">{L_TRACKER_SUBMIT_A_TICKET}</strong></td>
</tr>
<tr>
	<th colspan="2"><strong>{L_TRACKER_PROJECT_INFO}</strong></th>
</tr>
<!-- IF ERROR -->
	<tr>
		<td class="row2" colspan="2" align="center"><span class="genmed error">{ERROR}</span></td>
	</tr>
<!-- ENDIF -->
<tr>
	<td class="row1" width="22%"><strong class="genmed">{L_TRACKER}:</strong></td>
	<td class="row2" width="78%">{PROJECT_TYPE}</td>
</tr>
<tr>
	<td class="row1" width="22%"><strong class="genmed">{L_TRACKER_PROJECT_NAME}:</strong></td>
	<td class="row2" width="78%">{PROJECT_NAME}</td>
</tr>
<!-- IF S_COMPONENT_OPTIONS and S_TICKET_COMPONENT-->
<tr>
	<td class="row1" width="22%"><strong class="genmed">{L_TRACKER_COMPONENT}:</strong></td>
	<td class="row2" width="78%"><select id="component_id" name="component_id">{S_COMPONENT_OPTIONS}</select></td>
</tr>
<!-- ENDIF -->
<!-- IF S_VERSION_OPTIONS and S_TICKET_VERSION-->
<tr>
	<td class="row1" width="22%"><strong class="genmed">{L_TRACKER_VERSION}:</strong></td>
	<td class="row2" width="78%"><select id="version_id" name="version_id">{S_VERSION_OPTIONS}</select></td>
</tr>
<!-- ENDIF -->
<!-- IF S_TICKET_ENVIRONMENT and (S_SHOW_PHP or S_SHOW_DBMS) -->
<tr>
	<th colspan="2"><strong>{L_TRACKER_ENVIRONMENT}</strong></th>
</tr>
<tr>
	<td class="row2" colspan="2" align="center"><span class="genmed">{L_TRACKER_ENVIRONMENT_EXPLAIN}</span></td>
</tr>
<!-- IF S_SHOW_PHP -->
<tr>
	<td class="row1" width="22%"><strong class="genmed">{L_TRACKER_TICKET_PHP}:</strong><br />{L_TRACKER_TICKET_PHP_EXPLAIN}</td>
	<td class="row2" width="78%"><input type="text" id="ticket_php" name="ticket_php" value="{TICKET_PHP}" size="45" maxlength="60" /><br /><span class="small">{L_TRACKER_TICKET_PHP_EXPLAIN_BAD}<br />{L_TRACKER_TICKET_PHP_EXPLAIN_GOOD}</span></td>
</tr>
<!-- ENDIF -->
<!-- IF S_SHOW_DBMS -->
<tr>
	<td class="row1" width="22%"><strong class="genmed">{L_TRACKER_TICKET_DBMS}:</strong><br />{L_TRACKER_TICKET_DBMS_EXPLAIN}</td>
	<td class="row2" width="78%"><input type="text" id="ticket_dbms" name="ticket_dbms" value="{TICKET_DBMS}" size="45" maxlength="60" /><br /><span class="small">{L_TRACKER_TICKET_DBMS_EXPLAIN_BAD}<br />{L_TRACKER_TICKET_DBMS_EXPLAIN_GOOD}</span></td>
</tr>
<!-- ENDIF -->
<!-- ENDIF -->
<tr>
	<th colspan="2"><strong>{L_TRACKER_TICKET}</strong></th>
</tr>
<!-- IF S_DISPLAY_USERNAME -->
	<tr>
		<td class="row1"><strong class="genmed">{L_USERNAME}:</strong></td>
		<td class="row2"><input class="post" type="text" tabindex="1" name="username" size="25" value="{USERNAME}" /></td>
	</tr>
<!-- ENDIF -->
<!-- IF S_EDIT_REASON -->
	<tr>
		<td class="row1" width="22%"><strong class="genmed">{L_TRACKER_EDIT_REASON}:<br /><span>{L_TRACKER_EDIT_REASON_EXPLAIN}</span></td>
		<td class="row2" width="78%"><input type="text" id="edit_reason" name="edit_reason" value="{EDIT_REASON_TEXT}" size="45" maxlength="60" /></td>
	</dl>
<!-- ENDIF -->
<tr>
	<td class="row1" width="22%"><strong class="genmed">{L_TRACKER_TICKET_TITLE}:</strong><br />{L_TRACKER_TICKET_TITLE_EXPLAIN}</td>
	<td class="row2" width="78%"><input type="text" id="ticket_title" name="ticket_title" value="{TICKET_TITLE}" size="45" maxlength="60" /><br /><span class="small">{L_TRACKER_TICKET_TITLE_EXPLAIN_BAD}<br />{L_TRACKER_TICKET_TITLE_EXPLAIN_GOOD}</span></td>
</tr>
<tr>
	<td class="row1" width="22%"><strong class="genmed">{L_TRACKER_TICKET_DESC}:</strong><br />{L_TRACKER_TICKET_DESC_EXPLAIN}<br /><br />
	<!-- IF S_SMILIES_ALLOWED -->
		<table width="100%" cellspacing="5" cellpadding="0" border="0" align="center">
		<tr>
			<td class="gensmall" align="center"><strong>{L_SMILIES}</strong></td>
		</tr>
		<tr>
			<td align="center">
				<!-- BEGIN smiley -->
					<a href="#" onclick="insert_text('{smiley.A_SMILEY_CODE}', true); return false;" style="line-height: 20px;"><img src="{smiley.SMILEY_IMG}" width="{smiley.SMILEY_WIDTH}" height="{smiley.SMILEY_HEIGHT}" alt="{smiley.SMILEY_CODE}" title="{smiley.SMILEY_DESC}" hspace="2" vspace="2" /></a>
				<!-- END smiley -->
			</td>
		</tr>

		<!-- IF S_SHOW_SMILEY_LINK -->
			<tr>
				<td align="center"><a class="nav" href="{U_MORE_SMILIES}" onclick="popup(this.href, 300, 350, '_phpbbsmilies'); return false;">{L_MORE_SMILIES}</a></td>
			</tr>
		<!-- ENDIF -->

		</table>
	<!-- ENDIF -->
	</td>
	<td class="row2" width="78%">
		<script type="text/javascript">
		// <![CDATA[
			var form_name = 'postform';
			var text_name = 'message';
		// ]]>
		</script>
		<table width="100%" cellspacing="0" cellpadding="0" border="0">
		<!-- INCLUDE posting_buttons.html -->
		<tr>
			<td valign="top" style="width: 100%;"><textarea name="message" rows="15" cols="76" tabindex="3" onselect="storeCaret(this);" onclick="storeCaret(this);" onkeyup="storeCaret(this);" onfocus="initInsertions();" style="width: 98%;">{TICKET_DESC}</textarea></td>
			<!-- IF S_BBCODE_ALLOWED -->
			<td width="80" align="center" valign="top">
				<script type="text/javascript">
				// <![CDATA[
					colorPalette('v', 7, 6)
				// ]]>
				</script>
			</td>
			<!-- ENDIF -->
	 	</tr>
		</table>
	</td>
</tr>
<!-- IF S_MANAGE_TICKET or S_TICKET_SECURITY or S_INLINE_ATTACHMENT_OPTIONS -->
<tr>
	<th colspan="2"><strong>{L_OPTIONS}</strong></th>
</tr>
<!-- IF S_INLINE_ATTACHMENT_OPTIONS -->
<tr>
	<td class="row1"><strong class="genmed">{L_ATTACHMENTS}:</strong></td>
	<td class="row2"><select name="attachments">{S_INLINE_ATTACHMENT_OPTIONS}</select>&nbsp;<input type="button" class="btnbbcode" accesskey="a" value="{L_PLACE_INLINE}" name="attachinline" onclick="attach_form = document.forms[form_name].elements['attachments']; attach_inline(attach_form.value, attach_form.options[attach_form.selectedIndex].text);" onmouseover="helpline('a')" onmouseout="helpline('tip')" />
	</td>
</tr>
<!-- ENDIF -->
<!-- IF S_TICKET_SECURITY -->
<tr>
	<td class="row1" width="22%"><strong class="genmed">{L_TRACKER_SECURITY_TICKET}:</strong></td>
	<td class="row2" width="78%"><input type="checkbox" name="ticket_security" id="ticket_security" value="1"<!-- IF TICKET_SECURITY --> checked="checked"<!-- ENDIF --> /></td>
</tr>
<!-- ENDIF -->
<!-- IF S_MANAGE_TICKET -->
<tr>
	<td class="row1" width="22%"><strong class="genmed">{L_TRACKER_HIDE_TICKET}:</strong></td>
	<td class="row2" width="78%"><input type="checkbox" name="ticket_hidden" id="ticket_hidden" value="1"<!-- IF TICKET_HIDDEN --> checked="checked"<!-- ENDIF --> /></td>
</tr>
<tr>
	<td class="row1" width="22%"><strong class="genmed">{L_TRACKER_LOCK_TICKET}:</strong></td>
	<td class="row2" width="78%"><input type="checkbox" name="ticket_status" id="ticket_status" value="1"<!-- IF S_IS_LOCKED --> checked="checked"<!-- ENDIF --> /></td>
</tr>
<!-- ENDIF -->
<!-- ENDIF -->
<!-- IF S_SHOW_ATTACH_BOX --><!-- INCLUDE posting_attach_body.html --><!-- ENDIF -->
<!-- IF CAPTCHA_TEMPLATE and S_CONFIRM_CODE -->
<!-- INCLUDE {CAPTCHA_TEMPLATE} -->
<!-- ENDIF -->
<tr>
	<th colspan="2"><strong>{L_TRACKER_SUBMIT_TICKET}</strong></th>
</tr>
<tr>
	<td class="row1" colspan="2" align="center"><span class="genmed">{L_TRACKER_SUBMIT_TICKET_EXPLAIN}</span></td>
</tr>
<tr>
	<td class="cat" colspan="2" align="center"><input type="submit" name="preview" value="{L_TRACKER_PREVIEW_TICKET}" class="btnlite" /> <input type="submit" name="submit" value="{L_TRACKER_SUBMIT_TICKET}" class="btnmain" accesskey="s" /></td>
</tr>
</table>
{S_HIDDEN_FIELDS_CONFIRM}
{S_FORM_TOKEN}
</form>

<!-- INCLUDE tracker/tracker_footer.html -->

<!-- INCLUDE overall_footer.html -->